<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label for="email">
      Email
  </label>
  <input id="email" type="email" placeholder="Email" formControlName="email" />
  <span *ngIf="submitted && form.controls.email.invalid" id="email-error">
    {{ messageInvalidEmail }}
  </span>
  <label for="password">
      Password
  </label>
  <input id="password" type="password" placeholder="Password" formControlName="password" />
  <span *ngIf="submitted && form.controls.password.invalid" id="password-error">
    Please enter a valid password.
  </span>
  <button type="submit">
      Sign In
  </button>
</form>